---

---
@charset "UTF-8";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   12px;
$base-font-weight: 300;

$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$link-font-family: Arial,Verdana,sans-serif;//,-apple-system, BlinkMacSystemFont;

$spacing-unit:     30px;

$text-color:       #666666;
$background-color: #fafafa;
$brand-color:      #666666;

$prime-color:      #1BA2FC;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$header-bg-color: #2C2C2C;
//$header-bg-color: #FD8224;
$footer-color:    #2C2C2C;

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop: 800px;

@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "layout";
@import "base";
