.main {
    clear: both;
}


.left-side-nav {
    width: 220px;
    background-color: $white-color;
    margin: 0;
    float:left;

    a {
        text-decoration: none;
    }

    .left-side-main-ul {
        margin: 0;
        list-style: none;
    }

    .left-side-main-li {
        padding: 10px 15px 10px 15px;
        // background-color: $prime-color;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        color: $black-color;
        border-bottom: 1px solid $background-color;
    }

    .left-side-main-li:hover {
        background-color: $prime-color;
        color: $white-color;
    }

    .sub-menu {
        margin: 0 0 0 0;
        background-color: lighten($background-color, 2%);
        padding: 15px 25px 15px 25px;
        list-style: none;
        color: $text-color;
        a {
            color: $text-color;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .sub-menu-item {
        margin-bottom: 5px;
    }
}

.active {
    background-color: $prime-color !important;
    color: $white-color !important;
}

.main-content {
    float: right;
    width: 595px;

    h1, h2, h3, h4, h5, h6 {
        color: $black-color;
        font-weight: 500;
    }

    h4 {
        margin-top: 60px;
    }

    h5 {
        margin-top: 40px;
    }

    img {
        margin: 20px 0 20px 0;
    }

    .small-img-right {
        display: inline-block;
        float: right;
        width: 300px;
        height: auto;
    }

    /*
    strong {
        color: $black-color;
    }
    */
}
