.top-nav {
    margin: 0;
    padding: 0;
    border: 0;
    background: $header-bg-color;
    display: block;
    min-height: 40px;
    overflow: visible;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-family: $link-font-family;
    font-size: 12px;
    font-weight: bold;

    #top-home {
        //background: url("/assets/favicon.png") 0 0 no-repeat;
        //padding-left: 35px;
        float: left;
        margin-top: 10px;
        margin-bottom: 0;
    }

    a {
        vertical-align: baseline;
        color: #C1C1C1;
    }

    a:hover {
        color: #fff;
        text-decoration: none;
    }


    ul {
        list-style-type: none;
        float: right;
        margin-top: 10px;
        margin-bottom: 0;
    }

    li {
        margin-left: 20px;
        float: left;
    }
}


.main-nav{

    border-bottom: 1px solid $grey-color-light;

    .fullsize-banner {
        background: url("/assets/banner.jpg") #fff center top no-repeat;
        height: 180px;
        position: relative;
    }

    ul {
        display: block;
        position: relative;
        margin: 0px 0px 0px 0px;
        list-style-type: none;
        text-decoration: none;
        text-transform: uppercase;
    }

    li {
        overflow: hidden;
        float: left;
        display: block;
        vertical-align: middle;
        margin: 8px 10px 8px 10px;
        border-right: 1px solid #e5e5e5;
        height: 60px;
        width: 180px;
        padding-top: 18px;

        a {
            color: $text-color;
            font-size: 17px;
            font-weight: 400;
        }

        a:hover {
            color: $prime-color;
            text-decoration: none;
        }
    }
        #nav-first-item {
            margin-left: 0px;
            padding-left: 0px;
        }

        #nav-last-item {
            border-right: 0px;
        }
    #fullsize-navbg {
        background-color: #fff;
    }


    #space-patch {
        height: 0px;
        position: relative;
        background-color: #fff;
        border-bottom: 1px, solid, $grey-color-light;
    }

    .icons {
        padding-right: 5px;

    }
}
