---
layout: default
---

<div class="left-side-nav">
    <ul class="left-side-main-ul">
        <a href="{{ site.url }}/programs">
            <li class="left-side-main-li">
                Programs
            </li>
        </a>
        <a href="{{ site.url }}/about">
            <li class="left-side-main-li">
                About us
            </li>
        </a>
        <a href="{{ site.url }}/program-2017">
            <li class="left-side-main-li">
                Join Us
            </li>
        </a>
        <a href="{{ site.url }}/contact-us">
            <li class="left-side-main-li">
                Contact Us
            </li>
        </a>
    </ul>
</div>

<div class="main-content">
    {{ content }}
</div>
