<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="NACRE, non-proft, China, volunteer">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
</head>

<body>
    <header>
        <nav class="top-nav">
            <div class="wrapper">
                <div id="top-home">
                    <a href="/">NACRE</a>
                </div>
                <ul>
                    <li><a href="#">Programs</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Join</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>


        <div class="main-nav">
            <div class="fullsize-header">
            </div>
            <div id="space-patch">
            </div>
            <ul class="wrapper">
                <li id="nav-first-item">
                    <a href="">
                        <i class="fa fa-heart-o icons" aria-hidden="true"></i>
                        Programs
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-search icons" aria-hidden="true"></i>
                        About us
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-users icons" aria-hidden="true"></i>
                        Join
                    </a>
                </li>
                <li id="nav-last-item">
                    <a href="">
                        <i class="fa fa-envelope-o icons" aria-hidden="true"></i>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </header>


    <div class="wrapper">
        {{ content }}
    </div>


    <footer>
        <section id="footer-area">
            <div class="container-fluid wrapper">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <b>About</b>
                        <ul>
                            <li>about1</li>
                            <li>about2</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <b>Programs</b>
                        <ul>
                            <li>program1</li>
                            <li>program2</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <b>Join</b>
                        <ul>
                            <li>join1</li>
                            <li>join2</li>
                            <li>join3</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <b>Contact</b>
                        <ul>
                            <li>contact</li>
                            <li>contact</li>
                            <li>contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>
